@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {

  .no-spinner {
    appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

html {
  margin: 0;
  margin-bottom: 15px;
}

body {
  background-color: rgb(245 246 248);
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#root {
  margin: 0;
  min-height: 100vh;
}

.login-div {
  height: 100vh;
}

.login-width {
  width: 413.5px;
}